.App {
  text-align: center;
  padding: 2rem; 
  max-width: 1140px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  margin: 10px 0;
}

label {
  font-size: 1.5rem;
  line-height: 1.5;
  display:flex;
  align-items: center;
}